header{
    background-color: #252525;
    z-index: 9999999999;
    

}
li a{
    font-size: large;
    padding: 1rem;
    margin: 0 10px;
}

header a{
    color:#fff;
    font-size: large;
    
}

header a:hover{
    color:#fff56a;
    font-size: large;
    
}

.main-content-wrapper .shop_sidebar_area{
    padding: 20px 20px;
}

.accordion #card{
    border: 0px;
    border-bottom:2px solid #fbb710;
    
}
h2 .btn-link{
 color: #4e4e4e;
}
h2 .btn-link:hover{
    color: #252525;
   }

.products-catagories-area{
    margin: 20px auto;
}
.navbar-brand{
    color: #fff56a;
    font-size: 27px;
    display: contents;
    
}

footer .container{
    text-align: center;
}

/* .pages{
    margin: 0 35%;
} */

.page-item{
    padding: 10px;
}

#productImg{
    max-width: 70%;
}
.cart{
    background-color: #fbb710;
    padding: 5px 15px;
    border-radius: 2px;
    margin-right: 2rem;
}
.cart:hover{
    background-color: #f3d076;

}
.product-img:hover{
    opacity: .4;
}

.pagination .page-item .page-link {
    width: inherit;}


.navbar-brand:hover{
    font-size: 27px;
    color:#fff;
}

/* .amado-navbar-toggler{
    float: right;
} */

.navbar{
    display: flex;
}

.navbar-collapse{
    text-align: left;
}



.search
{
	width: 100%;
	height: 45px;
	background: transparent;
	padding-left: 45px;
	padding-right: 43px;
	margin-top: 58px;
}
.search_form
{
	display: block;
	position: relative;
}
.search_input
{
	width: 100%;
	height: 45px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: solid 1px #cacaca;
	color: black;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_input:focus,
.search_input:hover
{
	border-bottom: solid 1px #fbb710;
}
.search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	height: 45px;
	background: transparent;
	border: none;
	outline: none;
	color: black;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_button:hover
{
	color: #e4c932;
}
.search_button:active
{
	border: none;
	outline: none;
}
.search_input::-webkit-input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #4d4b4b !important;
}
.search_input:-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #7f7d7d !important;
}
.search_input::-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #7f7d7d !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-family: 'Poppins', sans-serif;
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #7f7d7d !important;
}
.search_input::input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #7f7d7d !important;
}
