body {
  background-color: #c3c9c9;

  font-family: "Roboto", sans-serif;
}
#title {
  font-size: 3.5rem;
}

@media only screen and (min-width: 1000px) {
  table {
    font-size: 1.05rem;
  }
}
tr:nth-child(even) {
  background: #c3c9c9;
}
tr:nth-child(odd) {
  background: rgb(241, 239, 239);
}
